<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/artists.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <title>Artistas</title>
  </head>
  <body>
    <div class="artists_inputs">
      <form id="new-artist" class="topBefore">
        <input
          id="name-new-artist"
          name="artist-name"
          type="text"
          placeholder="agregar artista"
        />
        <button id="submit-new-artist" value="Add">añadir</button>
      </form>
      <form class="topBefore">
        <input
          id="search-name"
          name="search-artist-name"
          type="text"
          placeholder="buscar artista"
        />
        <button id="submit" type="submit" value="search">buscar</button>
      </form>
    </div>
    <h1>Tabla de artistas:</h1>
    <table id="artists_table">
      <tr>
        <!-- Table Row - 1 -->
        <th>ID</th>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      <!-- Table Row - 1 -->
      {% for artist in artists %}
      <tr>
        <td>{{artist[0]}}</td>
        <td>{{artist[1]}}</td>
        <td>
          <button artistId="{{artist[0]}}">Editar</button>
        </td>
        <td>
          <button artistId="{{artist[0]}}" nameArtist="{{artist[1]}}">
            Eliminar
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <ul id="artlist"></ul>
    <script>
      document
        .getElementById("artists_table")
        .addEventListener("click", (e) => {
          if (e.target.tagName === "BUTTON") {
            const artistID = e.target.getAttribute("artistid");
            const nameArtist = e.target.getAttribute("nameArtist");

            fetch(`http://localhost:8000/artists/${artistID}`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((res) => res.json())
              .then((res) => {
                alert(nameArtist + " fue eliminado con exito");
                window.location.reload();
              });
          }
          e.preventDefault();
        });

      document
        .getElementById("submit-new-artist")
        .addEventListener("click", (e) => {
          e.preventDefault();
          const artistName = document.getElementById("name-new-artist").value;
          fetch(`http://localhost:8000/artists?artistName=${artistName}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((res) => res.json())
            .then((res) => {
              alert(artistName + " fue creado con exito");
              window.location.reload();
            });
        });
    </script>
  </body>
</html>
