<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/artists.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Search</title>
</head>
<body>
    <div class="new-artist">
        <form action="/artist" method="post" class="topBefore">
            <h1 class="artistname">Add new artist</h1>
            <input id="name" name="artist-name" type="text" placeholder="Artist name">
            <input id="submit" type="submit" value="Add">
        </form>
    </div>
    <section class="artists-container">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h1>{{ message }}</h1>
                    {% endfor %}
                {% endif %}
                <h1>Artist list: </h1>
                <ul id="artlist">
                    {% for artist in artists %}
                        <li class="artist">{{artist[1]}} <a href="/edit/artist/{{artist[0]}}">Edit</a> <a href="/delete/artist/{{artist[0]}}">Delete</a></li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>
    </section>

</body>
</html>